@import "./global.css";

footer {
  font-size: 0.75em;
  color: black;
  margin: 2em 2em;
  background: var(--lightYellow);
  border: solid var(--VikingsGold);
  padding: 5px 5px;
}

.sb_open {
  margin-left: calc(var(--sideBarWidth) + 15px);
}

.sb_closed {
  margin-left: 15px;
}
