:root {
  --VikingsPurple: #4f2683;
  --VikingsGold: #ffc62f;
  --lightYellow: #ffffe6;
  --lightPurple: #e7c8fa;
  --sidebar_background_color: white;
  --sideBarWidth: 270px;
  --headerHeight: 10vh;
  --tableRowHeight: 28px;
  --maxWidth: 1500px;
  font-size: 1.2rem;
}

a {
  color: var(--VikingsPurple);
  /* font-weight: bold; */
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h4 {
  margin: 0.2em 0 0.2em 0;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  /* background: green; */
}

img,
iframe {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

img:hover,
iframe:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
