@import "./global.css";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: var(--maxWidth);
  background: var(--VikingsPurple);
  color: white;
  /* text-align: center; */
  height: var(--headerHeight);
  /* bug fix 7/29/20: responsive tables were overlapping header */
  z-index: 100;
}

.header_container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0 1rem;
  margin-left: 5px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.hamburger:focus {
  outline: none;
}

.line {
  width: 30px;
  height: 2px;
  background: white;
}

.title {
  flex: 4;
  font-size: 2rem;
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 1rem;
  }
}

.logo {
  height: 100%;

  flex: 0.25;
}

.spacer {
  flex: 1;
}
