/* html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  /* background: red; */
}
