@import "./global.css";

.open {
  margin-top: var(--headerHeight);
  margin-left: calc(var(--sideBarWidth) + 15px);
}

.closed {
  margin-top: var(--headerHeight);
  margin-left: 15px;
}

.container {
  height: 100%;
  background: white;
  width: 100%;
  max-width: 2000px;
}
