@import "./global.css";

.msb_open {
  margin-top: var(--headerHeight);
  margin-left: calc(var(--sideBarWidth) + 15px);
}

.msb_closed {
  margin-top: var(--headerHeight);
  margin-left: 15px;
}

.container {
  height: 100%;
  background: white;
  width: 100%;
  max-width: 1500px;
}
