@import "./global.css";

.table {
  border: solid 2px;
  border-color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  color: black;
  border-collapse: collapse;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.table:hover {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.45);
}

.tableHeaderRow {
  background: var(--VikingsGold);
  /* setting the height explicitly ruins the responsive nature */
  /* height: var(--tableRowHeight); */
}

.tableRow {
  color: black;
  /* setting the height explicitly ruins the responsive nature */
  /* height: var(--tableRowHeight); */
}

.tableRow:hover {
  background: var(--lightYellow);
}

.item {
  padding: 5px 10px;
}
