@import "./global.css";

.table {
  border: solid 2px;
  border-color: black;
  width: 80%;
  margin: auto;
  color: black;
  border-collapse: collapse;
}

.tableHeaderRow {
  background: var(--VikingsGold);
  /* height: var(--tableRowHeight); */
}

.tableRow {
  color: black;
  height: var(--tableRowHeight);
}

.tableRow:hover {
  background: var(--lightYellow);
}

.item {
  padding: 5px 10px;
}
