@import "./global.css";

.video_card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.video_button {
  margin: 0.3em 0em 0em 0em;
  background: white; /* var(--lightYellow); */
  border: solid var(--VikingsGold);
}

.video_button:hover {
  font-weight: bold;
}

.caption {
  margin: 0.3em 0 0 0;
}
